{% extends "mobishopper/base_external.html" %}
{% load i18n %}
{% block body %}

    <main role="main" id="content-top" class="external-base">
        <div class="login-box">
            <h1 class="mb-3">{% trans "Password reset" %}</h1>

        {% if validlink %}
            <p class="lead mb-3">{% trans "Please set a new password." %}</p>
            {% if form.errors %}
                <p class="mb-3 text-error">{% trans "Failed to change your password." %}</p>
            {% endif %}

            <form method="post" action="{% url 'login' %}">
                {% csrf_token %}
                {{  form.new_password1.errors }}
                <input class="form-control form-control-lg mb-3" name="{{ form.new_password1.name }}" type="password" placeholder="{% trans "New password" %}">
                {{  form.new_password2.errors }}
                <input class="form-control form-control-lg mb-3" name="{{ form.new_password2.name }}" type="password" placeholder="{% trans "Repeat password" %}">

                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-lg">{% trans "Reset password" %}</button>
                </div>
            </form>
        {% else %}
        <p class="lead text-error">{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
        </div>
        {% endif %}
    </main>
{% endblock %}
