{% extends "mobishopper/base_external.html" %}
{% load i18n %}
{% block body %}

    <main role="main" id="content-top" class="external-base">
        <div class="login-box">
            <h1 class="mb-3">{% trans "Password reset" %}</h1>

            {% if form.errors or form.email.errors %}
                <p class="mb-3 text-error">{% trans "Incorrect e-mail." %}</p>
            {% endif %}

            <form method="post">
                {% csrf_token %}
                <input class="form-control form-control-lg mb-3" name="{{ form.email.name }}" type="email" placeholder="{% trans "E-mail" %}">

                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-lg mb-1">{% trans "Reset my password" %}</button>
                </div>
                <input type="hidden" name="next" value="{{ next }}">
            </form>

            <p class="text-center"><a href="{% url 'login' %}">{% trans "Back to the login page" %}</a></p>
        </div>
    </main>
{% endblock %}
