{% extends "mobishopper/base_sidebar.html" %}
{% load i18n %}
{% load ms_extras %}
{% load msp_extras %}
{% load bootstrap4 %}
{% block content %}
    <div class="card-box card-box-top">
        <form class="form-inline" action="" method="GET">
            {% inline_form_field search_form.name %}
            {% inline_form_field search_form.vendor %}
            {% inline_form_field search_form.description %}
            <a href="{% url 'ms_products:search' %}" class="btn btn-secondary ml-2 mr-2">{% bsiconbox "funnel" 12 "More filters…" %}</a>
            <button class="btn btn-secondary">{% bsiconbox "search" 12 "Search" %}</button>
        </form>
    </div>
    {% products_table products show_order=True %}
    {% paginator products %}
{% endblock %}
