{% extends "mobishopper/base_sidebar.html" %}
{% load i18n %}
{% load ms_extras %}
{% load bootstrap4 %}
{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        {% bootstrap_form_errors form type='all' %}
        {% bootstrap_field form.email layout="horizontal" %}
        {% bootstrap_field form.first_name layout="horizontal" %}
        {% bootstrap_field form.last_name layout="horizontal" %}

    {% if is_adding %}
        {% bootstrap_field form.new_password1 layout="horizontal" %}
        {% bootstrap_field form.new_password2 layout="horizontal" %}
    {% else %}
        <h2>Actions</h2>
        {% if id == user.id %}
            <a class="btn btn-secondary" href="{% url 'password_change' %}">{% bsiconbox "key" 12 "Change your password" %}</a>
        {% else %}
            <a class="btn btn-secondary" href="{% url 'ms_baseline:users_reset_password' id %}">{% bsiconbox "key" 12 "Reset password" %}</a>
        {% endif %}
        <a class="btn btn-danger" href="{% url 'ms_baseline:users_delete' id %}">{% bsiconbox "trash" 12 "Delete" %}</a>
    {% endif %}

        <h2>{% trans "Permissions" %}</h2>
    {% if is_adding %}
        <input type="hidden" name="is_manager" value="true">
        <div class="form-check"><label for="fake_lm"><input type="checkbox" id="fake_lm" checked disabled>&nbsp;{% trans "Manages this store (required)" %}</label></div>
    {% else %}
        {% check_radio_field form.is_manager %}
    {% endif %}
        <div id="local_permissions" class="{% if not form.is_manager.value and not is_adding %}d-none{% endif %}">
            {% check_radio_field form.can_manage_products %}
            {% check_radio_field form.can_manage_maps %}
            {% check_radio_field form.can_manage_deals %}
            {% check_radio_field form.can_manage_employees %}
            {% check_radio_field form.can_view_statistics %}
        </div>
        <p class="text-muted {% if form.is_manager.value %}d-none{% endif %}" id="drop_local_manager">{% trans "If this user manages other stores, they will retain access to the management panel. Otherwise, the panel will not be available to them." %}</p>
        {% if id == user.id %}
            <p class="text-muted">{% trans "You are editing your own account. You cannot remove your permissions to manage the store or its employees. Other employees with editing access can change those permissions on your account." %}</p>
        {% endif %}

        {% buttonbox_save %}
    </form>
{% endblock %}
{% block js_config %}
    {% if not is_adding %}
    <script>
        registerActivatorCheckbox("is_manager", "local_permissions");
        registerActivatorCheckbox("is_manager", "drop_local_manager", "inverse");
    </script>
    {% endif %}
{% endblock %}
