{% extends "mobishopper/base_sidebar.html" %}
{% load i18n %}
{% load ms_extras %}
{% load bootstrap4 %}
{% block content %}
    <form action="" method="POST">
        {% csrf_token %}
        {% bootstrap_form_errors form type='all' %}
        {% bootstrap_field form.new_password1 layout="horizontal" %}
        {% bootstrap_field form.new_password2 layout="horizontal" %}

        <div class="buttonbox">
            <button class="btn btn-lg btn-primary">{% bsiconbox  "check" 20 "Save" %}</button>
            <a class="btn btn-lg btn-secondary" href="{% url 'ms_baseline:users_edit' id %}">{% bsiconbox "arrow-left" 20 "Cancel" %}</a>
        </div>
    </form>
{% endblock %}
